*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#0b0b0f;
    color:white;
}

/* APP STRUCTURE */

.app{
    display:flex;
    height:100vh;
    overflow:hidden;
}

/* SIDEBAR */

.sidebar{
    width:240px;
    background:#111;
    padding:20px;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.sidebar a{
    color:white;
    text-decoration:none;
    padding:10px;
    border-radius:8px;
}

.sidebar a:hover{
    background:#222;
}

.logo{
    font-size:22px;
    color:#ff3131;
    font-weight:bold;
}

/* MAIN */

.main{
    flex:1;
    overflow-y:auto;
}

/* TOPBAR */

.topbar{
    position:sticky;
    top:0;
    background:#111;
    padding:15px;
    z-index:10;
}

.topbar input{
    width:100%;
    padding:12px;
    border-radius:8px;
    border:none;
    outline:none;
}

/* HERO */

.hero{
    padding:40px;
    background:#1a1a1a;
}

/* SECTIONS */

.section{
    padding:20px 40px;
}

.row{
    display:flex;
    gap:15px;
    overflow-x:auto;
}

/* CARD */

.card{
    min-width:180px;
    height:260px;
    background:#222;
    border-radius:10px;
}
